.myflex, .field .field-link, .Shapka {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 15px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.intro {
  width: 100%;
  height: 35px;
  background-color: #4b4b4b;
}

/*header*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .header_inner {
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
}

.nav {
  cursor: pointer;
  font-family: "Grandstander", cursive;
  font-size: 15px;
}
.nav .nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: color 0.5s linear;
}
.nav .nav_link:hover {
  color: yellow;
}

.intro_2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: black;
}

.Shapka {
  padding: 18px 0px;
  align-items: center;
}

.authorization {
  font-size: 14px;
  text-transform: uppercase;
}
.authorization .authorization-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.5s linear;
}
.authorization .authorization-link:hover {
  color: #f75959;
}

.section {
  padding: 30px 0;
}
.section .section-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px;
  text-align: center;
}

.product {
  display: flex;
  align-items: left;
}
.product .product-item {
  width: 50%;
}
.product .font-name-product {
  font-size: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
}
.product .text-image {
  max-width: 100%;
}
.product .price {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
}
.product .price .price-item {
  text-align: center;
  margin: 10px 10px;
  font-size: 20px;
  font-weight: 700;
  color: red;
}
.product .buy-btn {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  padding: 12px 20px;
  border-radius: 3px;
  text-decoration: none;
  border: solid 2px black;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.image {
  border-radius: 20px;
}

.product-item {
  width: 50%;
}
.product-item .accordion_item {
  border: 1px solid #e5e5e5e5;
}
.product-item .accordion_item:active .accordion_content {
  display: block;
}
.product-item .accordion_item:active .accordion_header:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(-45deg);
}
.product-item .accordion_header {
  border-bottom: 1px solid #e5e5e5e5;
  position: relative;
  padding: 10px 0px;
}
.product-item .accordion_header:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}
.product-item .accordion_header .accordion_title {
  display: flex;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
}
.product-item .accordion_content {
  padding: 15px 20px;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: none;
}

.podval {
  width: 100%;
  background-color: #4b4b4b;
}
.podval .font-podvala {
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: white;
}

#warranty-and-return {
  max-width: 1200px;
  max-height: 300px;
  overflow: auto;
  padding: 5px 10px;
  border: 1px solid white;
}

ul {
  list-style-type: square;
  padding: 10px 0px;
  margin-left: 50px;
}

.field {
  padding: 25px 0px;
}
.field .field-link {
  flex-direction: column;
}
.field .field-link .text-field {
  max-width: 1200px;
  min-width: 1200px;
  max-height: 100px;
  min-height: 100px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #999;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.partner {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.partner .partner-link {
  font-size: 70px;
  font-weight: 700;
  padding: 0px 10px;
  text-decoration: none;
  color: #ff002b;
}

.asd{
  font-size:25px;
  font-family:'M PLUS Rounded 1c', sans-serif;

  
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.asd._active{
  transform: translate(0px, 0px);
  opacity: 1;
}


h1 {
  font-size: 40px;
  text-align: center;
  opacity: 0;
  transform: translate(0, 100%);
  transition: ease-in-out 0.5s;
}

h1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.object{
  position: fixed;
  opacity: 0;
}

body.lock{
  overflow: hidden;
}
.wrapper{
  overflow: hidden;
  min-height: 100%;
}

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open{
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content{
  transform:translate(0px, 0px);
  opacity: 1;
}

.popup__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
.popup__body
{
  min-height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content
{
  background-color:rgba(0, 0, 0, 0.7) ;
  color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
  width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}

.popup__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.popup__title{
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 35px;
  margin: 0px 0px 1em 0px;
}

.form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.lbl{
  font-family: 'Lobster', cursive;
  font-size: 21px;
}

input{
  background-color:rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid #ffffff;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

.btn-btn{
  display: flex;
  justify-content: center;
}



.log-btn{
  font-size: 17px;
  font-weight: 600;
  border-radius: 15px;
  background-color:rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.8s ease 0s;
}

.log-btn:hover{
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.8s ease 0s;
}
