// переменные
$font1: 'M PLUS Rounded 1c', sans-serif;
$font2: 'Grandstander', cursive;
$color1: rgb(75, 75, 75);
$color2: white ;
$color3: yellow;
$color4: black;
$color5: rgb(247, 89, 89);
$color6: #ccc;
$color7: #999;
$color8: rgb(255, 0, 43);
$color9: #e5e5e5e5;
$color10: red;
$fs1: 14px;
$fs2: 15px;
$fs3: 18px;
$fs4: 20px;
$fs5: 16px;
$fs6: 70px;